#main{
	float:left;
	margin-top: 20px;
}

aside{
	float:left;
	margin-top: 20px;
}
#couses{
	float:left;
	width:90%;
}
.course{
	width:100%;
	margin-bottom: 10px;
	float:left;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	color: #646464;
}
.course>img{
	border: 2px solid #dfdfdf;
	border-radius: 5px;
	width: 35%;
	float: left;
	margin-right: 10px;
}
.course>span{
	float:right;
	font-weight: bold;
	color: rgba(236,101,80,1);;
}
.course>a>.btn{
	float:left;
	margin-left: 30%;
}
#one_course{
	float:left;
	margin-top: 10px;
}
#one_course>img{

	width: 80%;
	height: auto;
	float:left;
}
.heading{
	font-weight: lighter;
	font-size: 1.4em;
	font-family: 'Roboto Slab', serif;
	border-bottom: 2px solid #db6e6e;
	float:left;
	color: #4f4f4f;
	padding: 0px 5px;
}
.heading:first-letter{
	color: #db6e6e;
}
.article{
	 width: 40%;
	 float: left;
	 margin-right: 10%;
	 margin-bottom: 20px;
	 border: 1px solid #e3e3e3;
	 background-color: #fff;
	 box-sizing: border-box;
	 max-width: 350px;
	 border-radius: 5px;
}
img{
	border-radius: 5px 5px 0 0;
	width:100%;
	height: 100px;
}
.article>span{
	font-family: 'Roboto Slab', serif;
	font-size: 1.3em;
	width:80%;
	margin: 7px 10%;
	float:left;
	text-align: center;
	color: #333;
}
#main>a>#btn{
	margin-bottom: 20px;
	float:left;
	margin-left: 40%;
}
#news{
	
	float: left;
} 
@media (min-width: 1051px){
#main{
	width:60%;
	margin-left: 3%;
}
aside{
	width: 30%;
	margin-left: 2%;
}
#news{
	margin-left: 10%;
	width: 90%;
} 
}
@media (max-width: 1050px) and (min-width: 911px) {
	#main{
	width:65%;
	margin-left: 2%;
}
aside{
	width: 32%;
}
#news{
	margin-left: 4%;
	width: 96%;
} 
}
@media (max-width: 910px) and (min-width: 500px) {
	#main{
	width:90%;
	margin-left: 5%;
}
aside{
	width: 50%;
	margin-left: 25%;
}
#news{
	margin-left: 4%;
	width: 96%;
} 
}
@media (max-width: 499px) {
	#main{
	width:90%;
	margin-left: 5%;
}
aside{
	width: 80%;
	margin-left: 10%;
}
#news{
	margin-left: 2%;
	width: 96%;
} 
} 

@media (min-width: 1220px) {
	.article{
	width: 35%;
	margin-left: 5%;
}
}
@media (max-width: 1219px) and (min-width: 650 px) {
	.article{
	width:45%;
	margin-left: 5%;
}
}
@media (max-width: 649px) and (min-width: 500px) {
	.article{
	width: 70%;
	margin-left: 15%;
}
}
@media (max-width: 600px) {
	#courses>a>.btn  {
	width: 70%;
	margin-left: 5% !important;;
}
}
@media (max-width: 440px) {
	#main>a>.btn  {
	width: 70%;
	margin-left: 5% !important;;
}
}
/*Нижняя часть сайта*/
#subscribe{
	float:left;
	text-align: center;
	margin-bottom: 20px;
}
@media(min-width: 911px){
#subscribe{
	width: 70%;
}
#sub_to_project{
	width: 25%; 	
}

}
 
@media(max-width: 910px){
#subscribe{
	width: 100%;
}
#sub_to_project{
	width: 80%;
	margin-left: 10%;
}
}
#sub_to_project{
	float:left;
	margin-bottom: 20px;
	width: 50%;
}

#subscribe>span{
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	color: #434343;
}
#vk_groups{
	margin:auto;
}


#sub_to_project>p{
	width: 100%;
	color: #333;
	font-size: 1.1em;
	font-family: 'Roboto Slab', serif;
}
#sub_to_project>img{
	max-width: 100%;
	
}
#sub_to_project>a>#btn{
	background-color: #21a7e1;
	border-bottom-color: #1999d1 ;
	float: left;
	text-align: center;
}
#web_sites{
	width: 100%;
	border-top: 2px solid #d7d7d7;
	position: relative;
	
	background-color: #efefef;
	text-align: center;
	min-height: 150px;
}
#web_sites>span{
	font-size: 2.5em;
	font-family: 'Roboto Slab', serif;
	color: #434343;
}
#web_sites>a>#btn{
	position:  absolute;
	margin: 0;
	top: 80%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%,-80%);
	font-size: 2em;
}