*, *:before, *::after {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
}
html {
	font-size: 10px;
}
.main {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between ;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background: url(./img/main.jpeg) no-repeat  center;
	background-size: cover;
	position: relative;
}
.main-overlay, .call-to-action-overlay{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 0;
	background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
}
.header{
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	position: relative;
	z-index: 2;
}
.menu{
	width: 70%;
}
.menu ul {
 display: flex;
 justify-content: space-around;
 list-style: none;
}
.menu-link {
	 color: #fff;
 text-decoration: none;
}
.get-started-btn {
	margin-left: 60px;
	border: 1px solid #fff;
	padding: 10px 20px;
	border-radius: 100px;
	text-transform: uppercase;
}
.main-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	text-align: center;
}
.main-text span{
	display: inline-block;
}
.main-text h1{
	margin: 0;
	font-size: 80px;
}
.main-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.main-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.main-arrow {
	position: relative;
	z-index: 2;
	height: 15vh;  
	display:flex;
	justify-content: center;
	align-items: center;
}
.arrow-down{
	background: #fff;
	text-align: center;
	line-height:  50px;
	width: 50px;
	border-radius: 50%;
	height: 50px;
	box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
}
.arrow-down img {
	height: 20px;
	width: 20px;
	margin-top: 15px;
}
.table {
	padding: 10rem;
	background-color: #f9fafc;
}
.table-header{
	text-align:  center;
	margin-bottom: 5rem;
}
.table-header span {
text-transform: uppercase; 
font-size: 2rem;
color: #9fa4af;
}
.table-header span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.table-header span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color:  #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.table-header p {
	display: inline-block;
	width: 40rem;
	font-size: 1.8rem;
	line-height: 1.4;
	color: #9fa4af;
}
.table-header h2 {
	color: #4f4f6f;
	font-size: 6rem;
	margin: 0;
}
.price-tags{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.price-tag {
	background-color: #fff;
	border-radius: 2rem;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	transition: 0.2s;
	text-align: center;
	width: 35rem;
	align-items: center;
}
div.price-tag:hover {
	cursor: pointer;
	box-shadow: 0 0 60px 10px rgba(204, 204, 223, 0.71);
}
.price-tag span{
	font-size: 1.4rem;
	text-transform: uppercase;
	margin: 3rem auto 1rem;
}
.price-tag h4 {
	font-weight: 500;
	font-size: 3.5rem;  
	color: #4f4f6f;
}
.price-tag h4 sub { 
	font-size:  1.4rem;
}
.price-btn{
	background-color: #fff;
	border: #9fa4af 1px solid;
	color:  #9fa4af;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 4rem;
	border-radius: 100px;
	margin: 2rem auto;
	transition: 0.2s;
}
.price-btn:hover{
	background-color: #6345e2;
	color: #fff;
}
.call-to-action{
	text-align: center;
	padding: 15rem;
	position: relative;
}
.wrap {
	z-index: 2;
	position: relative;
	
}
.call-to-action {
	color: #fff;
	background: url(./img/map.svg) no-repeat  center;
	z-index: 5;
}
.call-to-action span {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 500;
}
.call-to-action h4 {
	font-size: 5rem ;
	font-weight: 500;
	margin: 1rem auto 2rem;
}
.cta-btn {
	display: inline-block;
	
	border: none;
	background-color: #fff;
	color: #040505;
	width: 20rem;
	height: 5rem;
	font-size: 1.4rem;
	height: 5rem;
	margin: 1rem;
	border-radius: 100px;
	transition: 0.5 s;
}
.cta-btn:hover{
	background-color: #6e45e2;
	color: white;
	cursor: pointer;
}
.footer-wrap { 
	display: flex;
	justify-content: center;
}
.footer{
	height: 5vh;
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.footer-menu{
	width: 50%;
}
.footer-menu ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.footer-menu-link {
	font-size: 1.4rem;
	text-decoration: none;
	color: #6a6a77;
	font-weight: 500;
}
.footer-get-started {
	margin-left: 6rem;
	border: 1px solid #fff;
	padding: 1.2rem 2rem;
	border-radius: 100px;
	text-transform: uppercase;
	background-color: #6e45e2;
	color: #ffffff;
}
.line{
	display: block;
	width: 90%;
	height: 1px;
	background-color: #333;
	margin: 1rem auto;
}
.legal{
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copy {
font-size: 1.4rem;
color: #6a6a77;
}
.social-links a {
	color: #6a6a77;
	font-size: 2rem;
	display: inline-block;
	margin-right: 1rem;

}