
$bgColor: #7c16f1;

body {
	background: rgb(231, 236, 227);
}

@mixin font($color, $weight) {
	font-size: 1.1em;
	font-weight: $weight;
	font-family: Arial, Helvetica, sans-serif;
	color: $color;
}

.block:not(.first) {
	background: $bgColor;
	height: 200px;
	margin-bottom: 20px
}

.first {
	margin-top: 100px;
 background: $bgColor;
 height: 100px;
 margin-bottom: 20px;	
}
* {
	padding: 0;
	margin: 0;
}
#central-block {
	padding: 30px;
	
	ul {
		list-style: none;

		li {
			@include font(red,bold);

			&:hover {
				color: white;
			}
		}
	}
}
